@{
    ViewData["Title"] = "Info Page";
}
@model Project2.Models.Tour

<section class="container-fluid" style="background-color: #8fc4b7;">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-lg-8 col-xl-6">
                <br />
                <br />
                <div class="card rounded-3">
                    <img src="https://kjzz.com/resources/media/f86c2337-7394-45ca-b7d1-0e57833b2490-RichmondTemple.jpg" class="w-100" style="border-top-left-radius: .3rem; border-top-right-radius: .3rem;" alt="Sample photo">
                    <div class="card-body p-4 p-md-5">
                        <h3 class="mb-4 pb-2 pb-md-0 mb-md-5 px-md-2">Contact Info</h3>

                        <form class="px-md-2" method="post">
                            <div class="form-outline mb-4">
                                <div asp-validation-summary="All"></div>
                            </div>

                            <div class="form-outline mb-4">
                                <input type="hidden" asp-for="SlotId"  value="@ViewBag.TimeId"/>
                            </div>

                            <div class="form-outline mb-4">
                                <input type="text" asp-for="GroupName" class="form-control" />
                                <label class="form-label" asp-for="GroupName"> Group Name</label>
                            </div>

                            <div class="row">
                                <div class="col-md-6 mb-4">

                                    <div class="form-outline mb-4">
                                        <input type="number" asp-for="GroupSize" class="form-control" min="1" max="15" />
                                        <label class="form-label" asp-for="GroupSize">Group Size</label>
                                    </div>

                                </div>
                            </div>

                            <div class="row mb-4 pb-2 pb-md-0 mb-md-5">
                                <div class="col-md-6">

                                    <div class="form-outline">
                                        <input type="tel" asp-for="Phone" class="form-control" />
                                        <label class="form-label" asp-for="Phone">Phone Number</label>
                                    </div>

                                </div>
                            </div>

                            <div class="row mb-4 pb-2 pb-md-0 mb-md-5">
                                <div class="col-md-6">

                                    <div class="form-outline">
                                        <input type="email" asp-for="Email" class="form-control" />
                                        <label class="form-label" asp-for="Email">Email Address</label>
                                    </div>

                                </div>
                            </div>

                            <button type="submit" class="btn btn-success btn-lg mb-1">Submit</button>

                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
