@{
    ViewData["Title"] = "Home Page";
}


<header class="masthead">
    <div class="container px-4 px-lg-5 d-flex h-100 align-items-center justify-content-center">
        <div class="d-flex justify-content-center">
            <div class="text-center">
                <h1 class="mx-auto my-0 text-uppercase">Layton Utah Temple Tours</h1>
                <h2 class="text-white-50 mx-auto mt-2 mb-5">Sign up for a time below.</h2>
                <a class="btn-primary btn"asp-controller="Home" asp-action="Form">Sign Up Here</a>
            </div>
        </div>
    </div>
</header>