@{
    ViewData["Title"] = "Home Page";
}


<header class="masthead">
    <div class="container px-4 px-lg-5 d-flex h-100 align-items-center justify-content-center">
        <div class="d-flex justify-content-center">
            <div class="text-center">
                <h1 class="mx-auto my-0 text-uppercase">Layton Utah Temple Tours</h1>
                <br /><br />
                <div class="row">
                    <div class="text-white-50 col-6">
                        General Tour Instructions:
                        <br />
                        <ol>
                            <li>Park on Rosewood (west side of the temple) and meet at the Visitors Center trailer.</li>
                            <li>Dress casual, except on Sunday</li>
                        </ol>
                    </div>
                    <div class="text-white-50 col-6">
                        Available Tours:
                        <br />
                        <ol>
                            <li>Tour (Outdoor): We will walk on the sidewalk along Oak Hills and on Rosewood in front of the temple on uneven surfaces; please wear sturdy shoes</li>
                            <li>Trailer Tour: On Sunday. Masks are required</li>
                            <li>Please call or text 801-628-4488 with questions or special requests.</li>
                        </ol>

                    </div>
                 </div>
                <a class="btn-primary btn" asp-controller="Home" asp-action="SignUp">Sign Up Here</a>
            </div>
        </div>
    </div>
</header>